
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
<link href="../styles/index.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
    <link rel="manifest" href="../favicons/site.webmanifest">
    <link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#5e17eb">
    <meta name="msapplication-TileColor" content="#5e17eb">
    <meta name="theme-color" content="#5e17eb">
    
<link rel="stylesheet" href="../styles/mob-desk.css">

<title>404 | BanDev</title>
    </head>
<body>

    <div class="blankslate">
        <svg class="octicon octicon-octoface blankslate-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 7a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0112 7zm1 9a1 1 0 11-2 0 1 1 0 012 0z"></path><path fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path></svg>
        <!-- <%= octicon "octoface", :height = 24, :class => "blankslate-icon" %> -->
        <h3 style="font-family: montserrat; font-weight: 700;">This page is lost!</h3>
        <p>It's probably your fault so stop it.</p>
        <p>Thanks - <a href="https://github.com/jack-txt">@jack-txt</a></p>
      </div>

</body>

</html>